@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar,
.react-calendar__tile--now {
    border: none;
    font-family: inherit;
    background-color: transparent;
}

.react-calendar__navigation button {
    color: inherit;
    font-weight: bold;
}

/* 리엑트 캘린더 네비케이션바 */
/* 메인 네비게이션바 (<, >, <<, >>, 년월) 버튼 */
.react-calendar__navigation button:enabled:hover {
    @apply bg-mindlog text-text-main-dark rounded-xl;
}

/* 메인 네비게이션바 버튼 포커스, 포커스-호버 */
.react-calendar__navigation button:enabled:focus,
.react-calendar__navigation button:enabled:focus:hover {
    @apply bg-inherit text-text-main dark:text-text-main-dark;
}

/* 네비게이션바(년의 월선택에서) 오늘이 포함된 월 */
.react-calendar .react-calendar__tile--now.react-calendar__tile--hasActive,
.react-calendar .react-calendar__tile--hasActive:enabled:hover,
.react-calendar .react-calendar__tile--hasActive:enabled:focus {
    @apply bg-mindlog text-text-main-dark rounded-xl;
}

/* 네비게이션바(년의 원선택에서) 월 호버 */
.react-calendar__tile.react-calendar__year-view__months__month,
.react-calendar__tile.react-calendar__year-view__months__month:hover {
    @apply rounded-xl;
}

.react-calendar__tile {
    @apply p-1.5 h-14;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active:enabled:focus {
    background: #c76b5d;
    color: #F3F4F6;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile:enabled:hover {
    @apply text-mindlog-light dark:text-inherit dark:bg-mindlog bg-mindlog
}

.emoji {
    display: block;
    text-align: center;
    line-height: 1.5rem;
}

